.rating {

    &__list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 195px;
    height: 35px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    }

    &__star {
        width: 25px;
        height: auto;
    }
}

.unrating__star {
    width: 25px;
    height: auto;
}