.home {
    &__header {
        margin: 45px 100px 50px 100px;
        max-width: 1240px;

        @media (min-width: 1440px) {
            margin-left: auto;
            margin-right: auto;
        }

        @media (max-width: 1420px) {
            margin: 32px auto 38px auto;
        }

        @media (max-width: 1280px) {
            margin: 20px 20px 27px 20px;
        }

    }

    &__main {
        margin: 50px 100px 50px 100px;
        max-width: 1240px;
        display: flex;
        flex-direction: column;
        gap: 42px;

        @media (min-width: 1440px) {
            margin-left: auto;
            margin-right: auto;
        }

        @media (max-width: 1420px) {
            margin: 38px auto 35px auto;
        }

        @media (max-width: 1280px) {
            margin: 27px 20px 27px 20px;
            gap: 22px;
        }
    }

    &__list {
        background-color: #f6f6f6;
        border-radius: 25px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 50px;
        flex-wrap: wrap;
        padding: 50px;
        margin: 0;

        @media (max-width: 1420px) {
            gap: 20px;
            justify-content: center;
        }

        @media (max-width: 890px) {
            background-color: transparent;
            padding: 0;
        }
    }

    .card {
        @media (max-width: 1280px) {
            width: 335px;
            height: 255px;
        }

        @media (max-width: 1185px) {
            width: 40vw;
        }

        @media (max-width: 890px) {
            width: 89.5vw;
        }

        @media (max-width: 400px) {
            width: 335px;
        }
    }

    &__footer {
        max-width: 1440px;

        @media (min-width: 1440px) {
            margin-left: auto;
            margin-right: auto;
        }
    }
}
