header,
main {
    margin: 0px 100px 0px 100px;
}

.gallery {
    background-color: #f6f6f6;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    flex-wrap: wrap;
    padding: 50px;
    margin: 0;
}

.loader {
    margin: 20px 20px;
}