.collapse {
  text-align: left;

  &__heading {
    background-color: #FF6060;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    color: #FFFFFF;
    font-weight: 500;
    margin: 0;
  }

  &__chevronUpAndDown {
    transition: transform 0.5s ease;
    cursor: pointer;
    width: 24px;
    height: auto;

    @media (max-width: 890px) {
      width: 16px;
      height: auto;
    }
  }

  &__hiddenContent {
    background-color: #f6f6f6;
    color: #FF6060;
    padding: 18px;
    margin: 0;
    transition: height 0.5s ease, padding 0.5s ease;
    height: 0;
    overflow: hidden;
    padding: 0 18px;
    box-sizing: border-box;
  }

  .open {
    transform: rotate(-180deg);
  }
  
  .unfold {
    height: auto;
    padding: 18px;
  }
}
