
li {
    list-style-type: none;
}

.collapse__heading {
    background-color: #FF6060;
    border-radius: 5px;
    padding: 10px 20px 10px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.collapse__title {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 24px;
}

.collapse__chevronUpAndDown:active {
    transition : transform 0.3s ease;
    transform: rotate(-180deg)
}

.collapse__hiddenContent {
    background-color: #f6f6f6;
    padding: 18px;
    border-radius: 0 0 5px 5px;
    display: flex;
    flex-direction: row;
}

.collapse__content {
    color: #FF6060;
    justify-content: center;
    align-items: center;

}